# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/
.venv/
ENV/

# Django static/media
staticfiles/
media/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

# Environment variables
.env 